body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing:border-box;
    background:transparent;
    background: rgba(104, 202, 104, 0.425);
}

/* nav .logo{
    padding: 0;
    height: 200px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

} */
 nav ul{
     list-style: none;
     float: right;
     margin: 0;
     padding: 0;
     display: flex;
 }

 nav ul li a {
     line-height: 80px;
     color: #000;
     padding: 12px 30px;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
     font-weight: bold;
 }

 nav ul li a:hover {
     background:rgb(17, 99, 17);
     border-radius: 5px;
     color: #fff;

 }

 nav ul li a.active{
     background: rgb(17, 99, 17);
     color: #fff;
     border-radius: 5px;
 }

 .container-fluid {
    position: relative;
    
  }


  .container-fluid img{
      height: 40vh;
  }
  .container-fluid .content {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.568); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 161px; 
    text-align: center;

  }

  .container-fluid .content h1{
      font-size: 50px;
      text-transform: uppercase;
  }

  #us{
      color: green;
      font-weight: bold;
      font-size: 60px;
  }

  .about-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    padding-top: 70px;
    text-align: center;
    border-style: inset;
    
    
    
}

.about-text h3{
    font-size: 20px;
    font-family: cursive;
    list-style: 5;
}

.about-text p{
    line-height: 2;
}

#com{
    text-transform: uppercase;
    font-weight: bold;
    color: green;
    font-size: 40px;
    
}

.zoom {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.925);
    transition: transform .2s; 
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
  }
  
  .zoom:hover {
    transform: scale(1.6);
  }

  .zoom h1{
      color: green;
      text-align: center;
    
  }

  .zoom p{
      color: #fff;
      text-align: center;
      font-size: 30px;
  }
 

  

 